#imgvi-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #212121;
	transition: opacity 500ms;
	z-index: 9999999;
}

#imgvi-sidebar .sidebar-title {
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

.imgvi-sidebar-images {
	background-color: #000;
	margin: 14px 10px 5px; 
	min-height: 250px;
	display: flex;
	overflow-y: auto;
	flex-direction: row;
    flex-wrap: wrap;
	flex-grow: 1;
}

.imgvi-sidebarfoot::before {
    -webkit-box-shadow: 0 -5px 8px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 -5px 8px 5px rgba(0, 0, 0, 0.6);
    width: 85%;
    margin: 0px 10px 0px 15px;
    position: relative;
    display: block;
    content: "";
 }

.imgvi-sidebar-images img { 
	width: 125px;
	height: 125px;
	margin: 10px;
}

.imgvi-sidebar-title h2 {
	height: 56px;
    line-height: 56px;
    margin: 0px 16px 0;
    padding: 4px 2px 0;
    font-family: Roboto,arial,sans-serif;
    font-size: 16px;
    text-transform: none;
    color: #ffffff !important;
}

#imagevi-img-box {
	height: 100%;
	margin: 0 auto;
}
#imagevi-img-box #imgvi-display {
	/*margin: 0 auto;
    display: block;*/
   
    background-size: contain;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

#imgvi-container {
	margin-right: 344px;
    transition: margin-right .5s;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.imgvi-content {
	padding: 60px 12px 12px;
	right: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

#imgvi-sidebar {
    height: 100%; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #323232;
    width: 344px;
    overflow-x: hidden; 
    transition: 0.5s; 
	color: #ffffff !important;
    font-family: Arial;
    font-weight: 400;
    font-stretch: normal;
    font-size: 13.3333px;

}

.imgvi-sidebar-container {
	display: flex;
	flex-flow: column; 
	flex-grow: 1;
  	overflow-y: auto;
  	height: 100%;
}

/* The navigation menu links */
#imgvi-sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
#imgvi-sidebar a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
#imgvi-sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#imgvi-close {
    position: relative;
    display: inline-block;
    padding: 5px 12px 2px;
    cursor: pointer;
    z-index: 15;
}

#imgvi-close svg {
    fill: #fff;
    transition: fill-opacity 0.5s ease;
    margin: 15px 10px 5px;
    fill-opacity: 0.7;
}

#imgvi-close:hover svg {
    fill-opacity: 1;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    #imgvi-sidebar {padding-top: 15px;}
    #imgvi-sidebar a {font-size: 18px;}
}

.imgvi-topbar {
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
    background: linear-gradient(to bottom,rgba(0,0,0,0.65) 0%,transparent 100%);
    height: 56px;
    padding: 0 0 16px 0;
    width: auto;
}

.imgvi-topbar h1{
	display: inline-block;
	line-height: 14px;
    color: #fff;
    font-size: 30px;
}

#imgvi-menu-btn {
	z-index: 5;
    display: inline-block;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    color: #fff !important;
    opacity: 0.7;
    transition: opacity 0.5s ease;
    font-size: 30px;
    line-height: 50px;
    width: 35px;
    -webkit-transform: scale(1.3,1);
    -moz-transform: scale(1.3,1);
    -ms-transform: scale(1.3,1);
    -o-transform: scale(1.3,1);
    transform: scale(1.3,1);
    text-decoration: none;
    text-align: center;
    height: 50px;
    margin-top: 10px;
}

a.imgvi-menu-btn:hover {
    text-decoration: none;
    opacity: 1;
}

.imgvi-formgroup {
    min-height: 30px;
    display: flex;
    margin-left: 12px;
    margin-bottom: 5px;
}

.imgvi-formgroup input[type=checkbox] {
    min-width: 15px;
    border-radius: 5px;
    height: 15px;
    margin: 7px 10px 5px 5px;
}

.imgvi-formgroup > * {
    align-self: center;
}

.imgvi-formgroup input[type=text], .imgvi-formgroup select {
	display: inline-block;
    min-height: 20px;
    min-width: 120px;
    padding: 5px 10px 5px 5px;
    border-radius: 3px;
    margin: 5px 10px;
    color: #000;
} 

#imgvi-commands {
    background-color: rgba(92, 92, 92, 0.85);
    border: 1px solid rgb(119, 119, 119); 
    position: absolute;
    right: 24px;
    bottom: 12px;
    height: 38px;
    opacity: 0.6;
    z-index: 15;
    padding: 0px 15px;
    border-radius: 3px;
    transition: opacity 0.5s ease;
    overflow: hidden;

}

#imgvi-commands:hover {
    opacity: 1;
}

#imgvi-commands .icon {
    /*background-image: url(chrome-extension://kmokinipfahjbfaicnjnmlobmbfiedmp/imageviewer/images/biv-icons.png);
    */width: 22px;
    height: 22px;
    opacity: 0.75;
    float: left;
    cursor: pointer;
    margin: 7px 5px;

}

#imgvi-commands .icon:hover {
    opacity: 1;
}

#imgvi-commands.dark, #popup.dark, #zoom-info.dark {
    background-color: rgba(92, 92, 92, 0.85);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(119, 119, 119);
    border-image: initial;
}

/*#imgvi-commands, #zoom-info {
    position: relative;
    right: 5px;
    bottom: 10px;
    opacity: 0.6;
    z-index: 15;
    padding: 0px 15px;
    border-radius: 3px;
    transition: opacity 0.5s ease;
    overflow: hidden;
}
*/
.dark {
    background-position-y: 16px;
    color: rgb(204, 204, 204);
}

.imgvi-switch {
    height: 22px;
    width: 60px;
    position: relative;
    display: block;
    vertical-align: top;
    padding: 3px;
    margin: 0 10px 0px 5px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing:content-box;
}
.imgvi-switch .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing:content-box;
}
.imgvi-switch .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    box-sizing:content-box;
}
.imgvi-switch .switch-label:before, .imgvi-switch .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing:content-box;
}
.imgvi-switch .switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaaaaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.imgvi-switch .switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}
.imgvi-switch .switch-input:checked ~ .switch-label {
    background: /*#E1B42B;*/ #1AA822;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.imgvi-switch .switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.imgvi-switch .switch-input:checked ~ .switch-label:after {
    opacity: 1;
}
.imgvi-switch .switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.imgvi-switch .switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.imgvi-switch .switch-input:checked ~ .switch-handle {
    left: 42px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.imgvi-switch .switch-label, .imgvi-switch .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}